.box {
  height: 400px;
  padding: 20px;
  color: #fff;
  background: deepskyblue;
}

.margin-top-80 {
  margin-top: 80px;
}

h1 {
  /* Put a 15-pixel margin at the bottom of the heading. */
  margin-bottom: 15px;
  /* Change the size of your font to 60 pixels high. */
  font-size: 20px;
  /* This will color the heading font white. */
  color: rgb(44, 174, 197);
  /* Align the text to the center of its enclosing element (e.g. div). */
  text-align: center;
  /* Underline the text. */
}


h3 {
  color: rgb(44, 174, 197);
}


p {
  color: rgb(46, 45, 49);
}

body{
  background: #fff; 
}
 /* All img tags */
 img {
  /* 
    Center a block element in the middle of its enclosing tag.
    When you use the "auto" rule on both left and right margins, 
    your browser will do the math necessary to center a block element.
    */
  margin-left: auto;
  margin-right: auto;
  /* Block display (more on this later) */
  display: block;
}